.env
venv/
__pycache__
BOT_TOKEN.session-journal
BOT_TOKEN.session
ultroid.session
ultroid.session*
*ultroid.session
ultroid.session-journal
*.mp3
*.webm
*.webp
*.mp4
*.tgs
logs-cipherx.txt
.vscode/*
cipherx-log.txt
/*.jpg
/*.png
/*.mp4
addons/
cipherx.log
target/npmlist.json
node_modules
glitch_me/
.idea
venv/
